from launch import LaunchDescription
from launch_ros.actions import Node
from launch.actions import DeclareLaunchArgument
import os
from ament_index_python.packages import get_package_share_directory
from launch.substitutions import LaunchConfiguration

def generate_launch_description():
    return LaunchDescription([
        DeclareLaunchArgument('text', default_value='Hello, ROS2!'),

        Node(
            package='task02',
            executable='publisher',
            name='publisher',
            output='screen',
            parameters=[
                {'text': LaunchConfiguration('text')},   # Pass the text parameter from the command line
                os.path.join(get_package_share_directory('task02'),
                'config',
                'task02.yaml'
                )
            ]
        ),
    ])
